@tailwind base;
@tailwind components;
@tailwind utilities;

.done {
  text-decoration: line-through;
  text-decoration-color: #2dd4bf;
  text-decoration-thickness: .2rem;
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 3rem;
  background: #27272a;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}